#timer-2 {
    .timer {
        &__wraper {
            padding: 3em 0;
        }
        &__h1 {
            font-size: 3em;
            font-family: 'Lato', sans-serif;
            color: #ffffff;
        }
        &__text {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: #ffffff;
        }
        &__counter {
            position: relative;
            padding: 15px 25px;
            margin: 0 10px;
            background-color: #4aa350;
            border: 2px solid #388e3c;
            z-index: 0;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50%;
                background-color: #388e3c;
                z-index: -1;
            }
        }
    }
}